.community {
 @include section-display(column);
 background: 0;

 &__community {
  &__icon {
   width: 1.8rem;

   img {
    width: 100%;
   }
  }

  h2 {
   font-family: $Text-Font;
   font-size: 3.5rem;
   color: #292929;
   margin: 2rem 0;
  }

  p {
   font-size: .8rem;
   color: #a09e9e;
  }
 }

 &__messages {
  &__icon {
   @extend .community__community__icon;
  }
  @extend .community__community;
  margin-top: 6rem;
 }
}