.growth {
 @include section-display(column-reverse);

 &__together {
  text-align: center;
  padding: 5rem 2rem;

  h2 {
   font-size: 1.2rem;
  }

  p {
   font-size: .8rem;
   margin-top: 1rem;
  }
 }
 
 &__img {
  padding: 6rem 4rem;
  padding-bottom: 0;
  width: 100%;

  img {
   width: 100%;
  }
 }
}