.header {
 display: flex;
 flex-direction: column;
 justify-content: center;

 .header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1.5rem;
 
  &__logo {
   width: 6rem;
 
   img {
    width: 100%;
    height: 100%;
   }
  }
 
  &__button {
   color: $button-pink;
   padding: .2rem 1rem;
   border: 1px solid $button-pink;
   outline: 0;
   background: transparent;
   border-radius: 3rem;
   font-family: $Text-Font;
   font-size: .6rem;
  } 
 }
 &__hero {
  padding: 5rem 2rem;
  text-align: center;

  p {
   font-size: .8rem;
   margin: 2rem 0;
   margin-bottom: 3rem;
  }

  h1 {
   line-height: 2rem;
  }

  &__button {
   @include button;
  }
 }
}
