.mobile {
 display: block;
}

.desktop {
 display: none;
}

@include media-md {
 .mobile {
  display: none;
 }
 .desktop {
  display: block;
 }

 .header {
  .header__nav {
   padding: 3rem 3rem;
   &__logo {
    width: 8rem;
   }

   &__button {
    padding: .2rem 1rem;
    font-size: 1rem;
   }
  }
  &__hero {
   padding-top: 15rem;

   h1 {
    font-size: 1.6rem;
   }
   p {
    padding: 2rem 5rem;
    font-size: 1.1rem;
    line-height: 1.8rem;
    font-weight: 400;
   }

   &__button {
    font-size: 1rem;
    padding: 1rem 3rem;
   }
  }
 }

 .mockup {
  padding: 2rem 6rem;
 }

 .growth {
  @include media-md-display;
  &__together {
   @include media-md-text;
  }
 }

 .conversations {
  @include media-md-display;
  &__conversation {
   @include media-md-text;
  }
 }

 .users {
  @include media-md-display;  
  &__your-users{
   @include media-md-text;
  }
 }

 .build-call {
  padding: 13rem 0;
  h2 {
   font-size: 1.8rem;
   margin-bottom: 2rem;
  }
  &__button {
   font-size: 1rem;
   padding: 1rem 3rem;
 }
 }

 .footer {
  @include media-md-display;
  padding-top: 3rem;
  line-height: 1.6rem;

  &__about{
   &__about {
    p {
     font-size: .9rem;
    }
   }

   &__contact {
    .phone, .email {
     p {
      font-size: .9rem;
     }
    }
   }
   &__social-icons {
    i {
     font-size: 3rem;
    }
   }
  } 
  
  &__subscribe {
   h2 {
    font-size: 1.6rem;
   }
   p {
    margin-top: 1.6rem;
   }
  }
 }
}

@include media-lg {
 .header {
  .header__nav {
   padding: 3rem 5rem;
   &__logo {
    width: 10rem;
   }

   &__button {
    padding: .2rem 1rem;
    font-size: 1.2rem;
   }
  }
  &__hero {
   h1 {
    font-size: 2.5rem;
   }
   p {
    padding: 2rem 15rem;
    font-size: 1.3rem;
    line-height: 1.8rem;
    font-weight: 400;
   }

   &__button {
    font-size: 1.2rem;
    padding: 1.2rem 4rem;
   }
  }
 }

 .mockup {
  padding: 2rem 10rem;
 }

 .community {
  @include media-lg-display;

  &__community {
   &__icon {
    width: 3rem;
   } 
   h2 {
    font-size: 6rem;
    margin: 4rem 0;
   }
   p {
    font-size: 1.2rem;
   }
  }

  &__messages {
   margin-top: 0;
  }
 }

 .growth {
  @include media-lg-display;

  &__together {
   @include media-lg-text;
  }
 }

 .conversations {
  @include media-lg-display;

  &__conversation {
   @include media-lg-text;
  }
 }

 .users {
  @include media-lg-display; 
  &__your-users{
   @include media-lg-text;
  }
 }

 .build-call {
  h2 {
   font-size: 2rem;
   margin-bottom: 2rem;
  }
  &__button {
   font-size: 1.2rem;
   padding: 1.2rem 4rem;
  }
 }

 .footer {
  @include media-lg-display;
  padding-top: 5rem;
  align-items: flex-start;
  justify-content: space-between;
  line-height: 1.6rem;

  &__about{
   margin-right: 4rem;
   &__about {
    &__logo {
     width: 12rem;
    }

    p {
     width: 60%;
     font-size: .9rem;
    }
   }

   &__contact {
    .phone, .email {
     p {
      font-size: .9rem;
     }
    }
   }
   &__social-icons {
    i {
     font-size: 3rem;
    }
   }
  } 
  
  &__subscribe {
   margin: 0;
   h2 {
    font-size: 1.6rem;
   }
   p {
    width: 60%;
    margin-top: 1.6rem;
   }

   .form {
    .user-input{
     flex-direction: row;
     &__button {
      margin: 0;
      margin-left: 3rem;
     }
    }
   } 
  }
 }

}

@include media-xl {
 .header {
  .header__nav {
   padding: 5rem 5rem;
   &__logo {
    width: 15rem;
   }

   &__button {
    padding: .3rem 1.2rem;
    font-size: 1.5rem;
   }
  }
  &__hero {
   p {
    padding: 2rem 20rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
   }
   h1 {
    font-size: 3.2rem;
   }
   &__button {
    font-size: 1.5rem;
    padding: 1.5rem 6rem;
   }
  }
 }

 .growth {
  @include media-xl-display;

  &__together {
   @include media-xl-text;
  }
 }

 .conversations {
  @include media-xl-display;

  &__conversation {
   @include media-xl-text;
  }
 }

 .users {
  @include media-xl-display; 
  &__your-users{
   @include media-xl-text;
  }
 }

 .build-call {
  h2 {
   font-size: 2.5rem;
   margin-bottom: 3rem;
  }
  &__button {
   font-size: 1.5rem;
   padding: 1.5rem 6rem;
  }
 }

 .footer {
  @include media-xl-display;

  &__about{
   margin-right: 14rem;
   &__about {
    &__logo {
     width: 15rem;
    }
   }
  }
 }
}
